@page "/login"
@using QResto.Blazor.Services
@* @using QResto.Shared.DTOs *@
@using QResto.Shared.DTOs.Responses
@inject HttpClient Http
@inject NavigationManager NavManager
@inject AuthService AuthService

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card p-4 shadow-lg" style="width: 350px; border-radius: 15px;">
        <h3 class="text-center mb-4">QResto Giriş</h3>

        <div class="mb-3">
            <label class="form-label">İstifadəçi adı</label>
            <input type="text" class="form-control" placeholder="Məs: admin123" @bind="username" />
        </div>

        <div class="mb-3">
            <label class="form-label">Şifrə</label>
            <input type="password" class="form-control" @bind="password" />
        </div>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger" role="alert">@errorMessage</div>
        }

        <button class="btn btn-success w-100 py-2 mt-2" @onclick="HandleLogin">
            Giriş Et
        </button>
    </div>
</div>

@code {
    private string username = "";
    private string password = "";
    private string errorMessage = "";

    private async Task HandleLogin()
    {
        var loginModel = new { Username = username, Password = password };
        var response = await Http.PostAsJsonAsync("api/auth/login", loginModel);

        if (response.IsSuccessStatusCode)
        {
            // 2. Cavabı oxuyuruq
            var result = await response.Content.ReadFromJsonAsync<LoginResponse>();

            // 3. Rola görə yönləndirmə
            if (result.Role == "Admin")
            {
                NavManager.NavigateTo("/admin/admindashboard");
            }
            else if (result.Role == "Waiter")
            {
                NavManager.NavigateTo("/waiter/waiterdashboard");
            }
            else
            {
                // Əgər rol təyin edilməyibsə
                errorMessage = "Səlahiyyətiniz müəyyən edilmədi.";
            }
        }
        else
        {
            errorMessage = "İstifadəçi adı və ya şifrə yanlışdır!";
        }
    }
}